<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loyouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <h1>
    <div style="background-color:yellow">Samra</div>
    <div style="background-color: yellow;">Ali</div>
    <span style="background-color: green;">Said</span>
    <span style="background-color: green;">Abdi</span> 
    
    <p>Gallan</p>

    
    </h1>
</body>
</html>