h1 {
    border: green 10px solid ;
    border-style: solid;
    
    outline-style: dashed;


    outline-width: 10px;
    outline-color: blueviolet;
    outline-offset: 10px;

}



/* p {
    border-style: solid;
}



div {
    border-style: dotted;
}

span {
    border-style: dashed;
} */



/* * {
    border-style: solid;
} */